body {
    background-color: aliceblue;
    border-spacing: 0;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
div {
    margin-left: 4px;
    border-radius: 5px;
    margin: 0;
}
hr {
    border-top: 2px solid rgb(155, 174, 255);
    margin-right: 0.3em;
}
.grid-conteiner {
    display: grid;
    grid-template-areas:
    'header header header'
    'info bio bio'
    'info bio bio';
    gap: 3px;
    padding: 10px;
}
.menu {
    background-color: rgb(79, 131, 228);
    grid-area: header;
    color: aliceblue;
    display: grid;
    grid-template-columns: subgrid;
    padding-left: 3px;
}
.cabecera {
    grid-column: 1 / 2;
}

.burger{
    align-self: flex-end;
    justify-self: flex-end;
    align-self: center;
    margin-right: 1em;

}

.lateral-info {
    background-color: rgb(79, 131, 228);
    word-wrap: break-word;
    grid-area: info;
    width: 100%;
    max-width: 18em;
    min-width: 15em;
    color:aliceblue;
    display: inline-block;
    padding-left: 8px;
    padding-right: 5px;

}
.bar {
    margin: 0.2em;
    width: 0.8em;
    height: 0.7em;
    border: 0.1em solid var(--loader-bg-color);
    border-left: 0.1em solid var(--loader-acc-color);

}

.cuerpo {
    margin-left: 2em;
    margin-top: 1em;
    min-width: 20em;
}

.area-selector {
    overflow: hidden;
    display: inline-block;
    margin-bottom: 20px;
}
.selector {
    color: cornflowerblue;
    text-align: center;
}
#burger-menu {
    top: 0;
    left: 0;
    width: 2em;
    height: .5em;
    background-color: rgba(63, 79, 139, 0.6);
    z-index: 1;
    margin: 1.5px;
    align-items: center;
}

#example-2{
    display: flex;
    justify-content: center;
    align-items: center;
}
#noskill{
    background-color: rgb(224, 224, 224);
}
#experiencia {
    background-color:rgb(245, 243, 243);
    border-radius: 8px;
    text-align: justify;
    padding: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    margin: 0;
    margin-bottom: .5em;
}
#skill {
    background-color:rgb(19, 221, 62);  
}

