<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CV | Cristian Carreras</title>
    <link rel="stylesheet" href="/statics/css/style.css">
</head>
<body>
    <div class="grid-conteiner">
        <div class="menu">
            <div class="menu cabecera">
               <h1>Cristian Carreras</h1>
            </div>
            <div class="menu burger">
                <div id="burger-menu"></div>
                <div id="burger-menu"></div>
                <div id="burger-menu"></div>
                <!-- ToDo: create a menu for this burger-menu-->
            </div>
        </div>

        <div class="lateral-info">
            <div id="personal-data">
                <h3>Personal Data</h3>
                <p>📱 +569 51933245</p>
                <p>📧 Contacto@cristiancarreras.me</p>
                <p>📌 Santiago, Chile</p>
                <hr>
            </div>
            <div id="skills">
                <h3>Skills</h3>
                <table>
                    <tr>
                        <td>Python</td>
                        <div id="example-2" class="loader"></div>
                        <td><div id="skill" class="bar"></div></td>
                        <td><div id="skill" class="bar"></div></td>
                        <td><div id="noskill" class="bar"></div></td>
                        <td><div id="noskill" class="bar"></div></td>
                        <td><div id="noskill" class="bar"></div></td>
                        <td><div id="noskill" class="bar"></div></td>
                    </tr>

                    <tr>
                        <td>Django</td>
                        <div id="example-2" class="loader"></div>
                        <td><div id="skill" class="bar"></div></td>
                        <td><div id="skill" class="bar"></div></td>
                        <td><div id="skill" class="bar"></div></td>
                        <td><div id="noskill" class="bar"></div></td>
                        <td><div id="noskill" class="bar"></div></td>
                        <td><div id="noskill" class="bar"></div></td>
                    </tr>

                    <tr>
                        <td>Html</td>
                        <div id="example-2" class="loader"></div>
                        <td><div id="skill" class="bar"></div></td>
                        <td><div id="skill" class="bar"></div></td>
                        <td><div id="skill" class="bar"></div></td>
                        <td><div id="noskill" class="bar"></div></td>
                        <td><div id="noskill" class="bar"></div></td>
                        <td><div id="noskill" class="bar"></div></td>
                    </tr>

                    <tr>
                        <td>Css</td>
                        <div id="example-2" class="loader"></div>
                        <td><div id="skill" class="bar"></div></td>
                        <td><div id="skill" class="bar"></div></td>
                        <td><div id="noskill" class="bar"></div></td>
                        <td><div id="noskill" class="bar"></div></td>
                        <td><div id="noskill" class="bar"></div></td>
                        <td><div id="noskill" class="bar"></div></td>
                    </tr>
                    <tr>
                        <td>Soft skills</td>
                        <div id="example-2" class="loader"></div>
                        <td><div id="skill" class="bar"></div></td>
                        <td><div id="skill" class="bar"></div></td>
                        <td><div id="skill" class="bar"></div></td>
                        <td><div id="skill" class="bar"></div></td>
                        <td><div id="skill" class="bar"></div></td>
                        <td><div id="noskill" class="bar"></div></td>
                    </tr>

                </table>
                <hr>
            </div>
            <br>
            <div id="certifications">
                <h3>Certifications</h3>
                        <a href=""><p>Python</p></a>
                        <p> Certification on python init by cisco academy</p>

                        <a href=""><p>Git</p></a>
                        <p>  Certification on fundamention of git</p>

                        <a href=""><p>Linux system</p></a>
                        <p>  Certification on fundamention of linux system by UAM</p>

            </div>
        </div>
        <div class="cuerpo">
            <div id="bio">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris interdum ipsum nec dictum egestas. Phasellus venenatis odio at lobortis vestibulum. Nam et justo ultricies sem blandit mollis quis ut augue. Duis vestibulum varius pharetra. Vivamus a semper massa. Ut ac dui iaculis, mattis lectus et, rutrum velit. Sed quis nisl felis. Nam consectetur iaculis venenatis. Integer in diam bibendum.</p>
            </div>
            <div class="area-selector">
                <!--ToDo: Convert "selector" a select menu for category -->
                <div class="selector">🛋 iot | 🤖 automatización | 💻 dev</div>
                <hr>
                {% block content %}
                    {% for Post in post %}
                        <div id="experiencia">
                            <p>{{Post.empresa}}</p>
                            <p>{{Post.cargo}}</p>
                            <p>{{Post.inicio}} To {{Post.final}}</p>
                            <p>{{Post.body}}</p>
                        </div>
                    {% endfor %}
                {% endblock %}
            </div>
        </div>
    </div>
<!--To Do-->
<!--* Convert "selector" a select menu for category -->
<!--    -when select a category, the skills in a lateral info change with it, all in a real time (js)-->
<!--    - when skills change, the skills bar will change animatedly (css, js)-->
<!--* if a logo for a company isnt found, only its name will be displey (backend or js) -->
</body>
</html>