<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CV | Cristian Carreras</title>
    <link rel="stylesheet" href="statics/css/style.css">
</head>
<body>
    <div class="grid-conteiner">
        <div class="menu">
            <div class="menu cabecera">
               <h1>Cristian Carreras</h1>
            </div>
            <div class="menu burger">
                <div id="burger-menu"></div>
                <div id="burger-menu"></div>
                <div id="burger-menu"></div>
            </div>
        </div>

        <div class="lateral-info">
            <div id="personal-data">
                <h3>Personal Data</h3>
                <p>📱 your number</p>
                <p>📧 your@email.com</p>
                <p>📌 Santiago, Chile</p>
                <hr>
            </div>
            <div id="skills">
                <h3>Skills</h3>
                <table>
                    <tr>
                        <td>Skill 1</td>
                        <div id="example-2" class="loader"></div>
                        <td><div id="skill" class="bar"></div></td>
                        <td><div id="skill" class="bar"></div></td>
                        <td><div id="noskill" class="bar"></div></td>
                        <td><div id="noskill" class="bar"></div></td>
                        <td><div id="noskill" class="bar"></div></td>
                        <td><div id="noskill" class="bar"></div></td>
                    </tr>

                    <tr>
                        <td>Skill 2</td>
                        <div id="example-2" class="loader"></div>
                        <td><div id="skill" class="bar"></div></td>
                        <td><div id="skill" class="bar"></div></td>
                        <td><div id="skill" class="bar"></div></td>
                        <td><div id="noskill" class="bar"></div></td>
                        <td><div id="noskill" class="bar"></div></td>
                        <td><div id="noskill" class="bar"></div></td>
                    </tr>

                    <tr>
                        <td>Skill 3</td>
                        <div id="example-2" class="loader"></div>
                        <td><div id="skill" class="bar"></div></td>
                        <td><div id="skill" class="bar"></div></td>
                        <td><div id="skill" class="bar"></div></td>
                        <td><div id="noskill" class="bar"></div></td>
                        <td><div id="noskill" class="bar"></div></td>
                        <td><div id="noskill" class="bar"></div></td>
                    </tr>

                    <tr>
                        <td>Skill 4</td>
                        <div id="example-2" class="loader"></div>
                        <td><div id="skill" class="bar"></div></td>
                        <td><div id="skill" class="bar"></div></td>
                        <td><div id="noskill" class="bar"></div></td>
                        <td><div id="noskill" class="bar"></div></td>
                        <td><div id="noskill" class="bar"></div></td>
                        <td><div id="noskill" class="bar"></div></td>
                    </tr>
                    <tr>
                        <td>Skill 5</td>
                        <div id="example-2" class="loader"></div>
                        <td><div id="skill" class="bar"></div></td>
                        <td><div id="skill" class="bar"></div></td>
                        <td><div id="skill" class="bar"></div></td>
                        <td><div id="skill" class="bar"></div></td>
                        <td><div id="skill" class="bar"></div></td>
                        <td><div id="noskill" class="bar"></div></td>
                    </tr>

                </table>
                <hr>
            </div>
            <br>
            <div id="certifications">
                <h3>Certifications</h3>
                        <a href=""><p>Certification 1</p></a>
                        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris interdum</p>

                        <a href=""><p>Certificartion 2</p></a>
                        <p>  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris interdum</p>

                        <a href=""><p>Certificartion 3</p></a>
                        <p>  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris interdum</p>

            </div>
        </div>
        <div class="cuerpo">
            <div id="bio">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris interdum ipsum nec dictum egestas. Phasellus venenatis odio at lobortis vestibulum. Nam et justo ultricies sem blandit mollis quis ut augue. Duis vestibulum varius pharetra. Vivamus a semper massa. Ut ac dui iaculis, mattis lectus et, rutrum velit. Sed quis nisl felis. Nam consectetur iaculis venenatis. Integer in diam bibendum.</p>
            </div>
            <div class="area-selector">
                <div class="selector">🛋 iot | 🤖 automatización | 💻 dev</div>
                <hr>
                <div id="experiencia">
                    <p>Company Name</p>
                    <p>mm.yyyy To mm.yyyy</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam congue hendrerit nulla at vestibulum. Duis placerat gravida augue, nec porttitor massa efficitur in. Cras suscipit lobortis odio, sed dictum dolor dapibus ut. Integer ac vestibulum nulla. Vestibulum nec tortor risus. Vestibulum ut ex et mauris mattis ullamcorper. Ut aliquet</p>
                </div>
                <div id="experiencia">
                    <p>Company Name 2</p>
                    <p>mm.yyyy2 To mm.yyyy2</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam congue hendrerit nulla at vestibulum. Duis placerat gravida augue, nec porttitor massa efficitur in. Cras suscipit lobortis odio, sed dictum dolor dapibus ut. Integer ac vestibulum nulla. Vestibulum nec tortor risus. Vestibulum ut ex et mauris mattis ullamcorper. Ut aliquet</p>
                </div>
                <div id="experiencia">
                    <p>Company Name 3</p>
                    <p>mm.yyyy2 To mm.yyyy2</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam congue hendrerit nulla at vestibulum. Duis placerat gravida augue, nec porttitor massa efficitur in. Cras suscipit lobortis odio, sed dictum dolor dapibus ut. Integer ac vestibulum nulla. Vestibulum nec tortor risus. Vestibulum ut ex et mauris mattis ullamcorper. Ut aliquet</p>
                </div>
                <div id="experiencia">
                    <p>Company Name 4</p>
                    <p>mm.yyyy2 To mm.yyyy2</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam congue hendrerit nulla at vestibulum. Duis placerat gravida augue, nec porttitor massa efficitur in. Cras suscipit lobortis odio, sed dictum dolor dapibus ut. Integer ac vestibulum nulla. Vestibulum nec tortor risus. Vestibulum ut ex et mauris mattis ullamcorper. Ut aliquet</p>
                </div>
                <div id="experiencia">
                    <p>Company Name 5</p>
                    <p>mm.yyyy2 To mm.yyyy2</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam congue hendrerit nulla at vestibulum. Duis placerat gravida augue, nec porttitor massa efficitur in. Cras suscipit lobortis odio, sed dictum dolor dapibus ut. Integer ac vestibulum nulla. Vestibulum nec tortor risus. Vestibulum ut ex et mauris mattis ullamcorper. Ut aliquet</p>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>