<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CV | Cristian Carreras</title>
    {% load static %}
    <link rel="stylesheet" href={% static '/css/style.css' %}>
    <link rel="shortcut icon" href={% static '/icons8-key-16.png' %} type="image/x-icon">
</head>
<body>
    {% block content %}
    <div class="grid-conteiner">
        <div class="menu">
            <div class="menu cabecera">
               <h1>{{bio.nombre}} {{bio.apellido}}</h1>
            </div>
            <div class="menu burger">
                <div id="burger-menu"></div>
                <div id="burger-menu"></div>
                <div id="burger-menu"></div>
                <!-- ToDo: create a menu for this burger-menu-->
            </div>
        </div>

        <div class="lateral-info">
            <div id="personal-data">
                <h3>Personal Data</h3>
                <p>📱 {{bio.telefono}}</p>
                <p>📧 {{bio.correo}}</p>
                <p>📌 {{bio.nacionalidad}}</p>
                <hr>
            </div>
            <div id="skills">
                <h3>Skills</h3>
                <table>
                    <tr>
                        <td>Python</td>
                        <div id="example-2" class="loader"></div>
                        <td><div id="skill" class="bar"></div></td>
                        <td><div id="skill" class="bar"></div></td>
                        <td><div id="noskill" class="bar"></div></td>
                        <td><div id="noskill" class="bar"></div></td>
                        <td><div id="noskill" class="bar"></div></td>
                        <td><div id="noskill" class="bar"></div></td>
                    </tr>

                    <tr>
                        <td>Django</td>
                        <div id="example-2" class="loader"></div>
                        <td><div id="skill" class="bar"></div></td>
                        <td><div id="skill" class="bar"></div></td>
                        <td><div id="skill" class="bar"></div></td>
                        <td><div id="noskill" class="bar"></div></td>
                        <td><div id="noskill" class="bar"></div></td>
                        <td><div id="noskill" class="bar"></div></td>
                    </tr>

                    <tr>
                        <td>Html</td>
                        <div id="example-2" class="loader"></div>
                        <td><div id="skill" class="bar"></div></td>
                        <td><div id="skill" class="bar"></div></td>
                        <td><div id="skill" class="bar"></div></td>
                        <td><div id="noskill" class="bar"></div></td>
                        <td><div id="noskill" class="bar"></div></td>
                        <td><div id="noskill" class="bar"></div></td>
                    </tr>

                    <tr>
                        <td>Css</td>
                        <div id="example-2" class="loader"></div>
                        <td><div id="skill" class="bar"></div></td>
                        <td><div id="skill" class="bar"></div></td>
                        <td><div id="noskill" class="bar"></div></td>
                        <td><div id="noskill" class="bar"></div></td>
                        <td><div id="noskill" class="bar"></div></td>
                        <td><div id="noskill" class="bar"></div></td>
                    </tr>
                    <tr>
                        <td>Soft skills</td>
                        <div id="example-2" class="loader"></div>
                        <td><div id="skill" class="bar"></div></td>
                        <td><div id="skill" class="bar"></div></td>
                        <td><div id="skill" class="bar"></div></td>
                        <td><div id="skill" class="bar"></div></td>
                        <td><div id="skill" class="bar"></div></td>
                        <td><div id="noskill" class="bar"></div></td>
                    </tr>

                </table>
                <hr>
            </div>
            <br>
            <div id="certifications">
                <h3>Certifications</h3>
                        <a href=""><p>Python</p></a>
                        <p> Certification on python init by cisco academy</p>

                        <a href=""><p>Git</p></a>
                        <p>  Certification on fundamention of git</p>

                        <a href=""><p>Linux system</p></a>
                        <p>  Certification on fundamention of linux system by UAM</p>

            </div>
        </div>
        <div class="cuerpo">
            <div class="bio">
                <h3>Resumen</h3>
                <p>{{bio.bio | safe}}</p>
            </div>
            <div class="area-selector">
                <hr>
                
                    {% for Post in post %}
                        <div id="experiencia">
                            <h3>{{Post.cargo}}</h3>
                            <a href="{{Post.linkEmpresa}}" target="_blank">{{Post.empresa}}</a>
                            <p>{{Post.inicio}} - {% if Post.final == None %}
                                Actualmente
                                {% else %}
                                {{Post.final}}
                                {% endif %}</p>
                            {{Post.body | safe}}
                        </div>
                    {% endfor %}
                {% endblock %}
            </div>
        </div>
    </div>

</body>
</html>